<!doctype html>
<html lang="ru">
<head>
    {% load staticfiles %}{% load i18n %}
    <meta charset="UTF-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="{% static "js/bower_components/angular-bootstrap/ui-bootstrap-csp.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "js/bower_components/bootstrap/dist/css/bootstrap.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "js/bower_components/bootstrap/dist/css/bootstrap-theme.css" %}">
    {% get_current_language as LANGUAGE_CODE %}
    <style type="text/css">
        .chart-outer {width:800px; overflow-x: auto; overflow-y: hidden; height:450px}
        .chart-inner {min-width:700px;height: 400px}
        #content {position: absolute;left:0; top: 0;bottom: 0; right: 0;}
    </style>
</head>
<body >
<div id="content" ng-app="wfm_charts" ng-controller="ChartCtrl">
    <div id="lang">
    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
{#        <input type="hidden" name="csrfmiddlewaretoken" ng-model="csrf_token">#}
        <input name="next" type="hidden" value="{{ redirect_to }}" />
{#        <select name="language">#}
{#            {% get_current_language as LANGUAGE_CODE %}#}
{#            {% get_available_languages as LANGUAGES %}#}
{#            {% get_language_info_list for LANGUAGES as languages %}#}
{#            {% for language in languages %}#}
{#                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>#}
{#                    {{ language.name_local }} ({{ language.code }})#}
{#                </option>#}
{#            {% endfor %}#}
{#        </select>#}
{#        <input type="submit" value="Go" />#}
        {% trans "Language" %}:
        <input type="SUBMIT" name="language" value="ru">
        <input type="SUBMIT" name="language" value="en"> <!-- now is {{ LANGUAGE_CODE }} -->
    </form>
    </div>

    <button class="btn btn-primary" ng-click="reload_from_server()">{% trans "Load from server" %}</button>
    {% trans "Chart type" %}: <select ng-model="chart_type" name="chart_type">
        <option value="column">{% trans "Bars" %}</option>
        <option value="line">{% trans "Lines" %}</option>
    </select>
    <div class="chart-outer">
        <div class="chart-inner" ng-style="{'width':20+chart.data.length*5+'px'}">
          <linechart data="chart.data" options="chart.options"></linechart>
        </div>
    </div>
</div>
<!-- Load js code -->
<script type="text/javascript" src="{% static "js/bower_components/jquery/dist/jquery.js" %}"></script>
<script type="text/javascript" src="{% static "js/bower_components/bootstrap/dist/js/bootstrap.js" %}"></script>
<script type="text/javascript" src="{% static "js/bower_components/d3/d3.js" %}"></script>
<script type="text/javascript" src="{% static "js/bower_components/moment/moment.js" %}"></script>

<script type="text/javascript" src="{% static "js/bower_components/angular/angular.js" %}"></script>
<script type="text/javascript" src="{% static "js/src/charts.js" %}"

<script type="text/javascript" src="{% static "js/bower_components/angular-bootstrap/ui-bootstrap.js" %}"></script>
<script type="text/javascript" src="{% static "js/bower_components/angular-bootstrap/ui-bootstrap-tpls.js" %}"></script>
<script type="text/javascript" src="{% static "js/bower_components/n3-line-chart/build/line-chart.js" %}"></script>
<script type="text/javascript" src="{% static "js/bower_components/angular-cookies/angular-cookies.js" %}"></script>
</body>
</html>